*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    font-family: 'Lato', sans-serif;;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 25vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 1px 10px 10px 5px rgba(0,0,0,0.30);
    position: relative;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:20%;
}
form{
    margin-top: 5vh;
}
form input{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color:#f7f7f7;
    box-shadow: 1px 10px 10px 5px rgba(0,0,0,0.20);
}
